<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!-- docs: https://developer.apple.com/library/mac/documentation/MacOSX/Conceptual/BPSystemStartup/Chapters/CreatingLaunchdJobs.html -->

  <!-- I like to live in ~/Library/LaunchAgents/ -->
  <key>Label</key>
  <string>com.140proof.groupify.remote</string>

  <key>KeepAlive</key>
  <true/>

  <key>NetworkState</key>
  <true/>

  <key>RunAtLoad</key>
  <true/>

  <key>ProgramArguments</key>
  <array>
    <!-- FIXME: need actual portable install path -->
    <string>/Users/jm3/Checkouts/go/src/groupify.go/remote/remote</string>
  </array>

</dict>
</plist>
